.song {
  cursor: pointer;
  border: 2px solid #222;
  padding: 1rem 1rem;
  padding-bottom: 0.4rem;
  background-color: white;
}
.dark-mode--activated
.song {
  border: 2px solid #ddd;
  background-color: black;
}
.song.song--checked {
  opacity: 0.2;
  background-color: #aea;
}
.dark-mode--activated
.song.song--checked {
  background-color: #363;
}
.song__name {
  text-align: center;
}
.song__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* max-width: 120px; */
}

@media (max-width: 500px) {
  .song {
    padding: 2px 2px;
  }
}